<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805461914709-ip13a7rajhpp1bt5acjad2vjvqvmf8p8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805461914709-ip13a7rajhpp1bt5acjad2vjvqvmf8p8</string>
	<key>API_KEY</key>
	<string>AIzaSyAnERdLyYQ8oqirZwhabVZDyV1IM1DQOAY</string>
	<key>GCM_SENDER_ID</key>
	<string>805461914709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chefapp</string>
	<key>PROJECT_ID</key>
	<string>chefapp-bcada</string>
	<key>STORAGE_BUCKET</key>
	<string>chefapp-bcada.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805461914709:ios:6347be1380b9f49c6610dc</string>
</dict>
</plist>